@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  background-color: var(--background);
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
}
p {
  margin: 0;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--title);
  line-height: 2.2rem;
}
h3 {
  font-size: 19px;
  font-weight: 700;
  color: var(--primary);
  width: 100%;
}
button {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1em;
  border-radius: 500px;
  transition: all 0.3s;
  box-shadow: var(--shadowout);
}

button:active {
  color: var(--primary);
  box-shadow: var(--shadowin);
}
:root {
  --background: #0a4da2;
  --primary: #002d67;
  --accent1: #ffc734;
  --accent2: #ff8893;
  --button: #57419d;
  --tags: #7878ab;
  --semantic: #261465;
  --title: #fff;
  --bread: #828282;
  --shadowout: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
  --shadowin: inset 4px 4px 12px #bebebe, inset -4px -4px 12px #ffffff;
}

/* ------------------------------------------------------------ */
.carousel {
  display: flex;
  gap: 20px;
  position: absolute;
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  overflow-x: scroll;
}
.carousel::-webkit-scrollbar {
  display: none;
}
