@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  background-color: var(--background);
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}
button {
  color: #090909;
  width: 40px;
  height: 40px;
  font-size: 1em;
  border-radius: 500px;
  background: var(--background);
  border: 1px solid var(--background);
  transition: all 0.3s;
  box-shadow: var(--shadowout);
}

button:active {
  color: var(--primary);
  box-shadow: var(--shadowin);
}
:root {
  --background: #f5f5fa;
  --primary: #5533ea;
  --accent1: #ffc734;
  --accent2: #ff8893;
  --button: #57419d;
  --tags: #7878ab;
  --semantic: #261465;
  --title: #333333;
  --bread: #828282;
  --shadowout: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
  --shadowin: inset 4px 4px 12px #bebebe, inset -4px -4px 12px #ffffff;
}

/* ------------------------------------------------------------ */

.frontcat {
  width: 100%;
}

.fronttitle {
  font-weight: 800;
  font-size: 20px;
  color: var(--title);
  margin-top: 40px;
}

.frontbread {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: var(--bread);
  margin-bottom: 40px;
}
.frontdot {
  width: 40px;
  margin: auto;
  display: block;
}
.frontbutton {
  position: relative;
  top: 50px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: var(--button);
  color: #fff;
  font-size: 1em;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(170, 170, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
  border-radius: 320px;
}
.frontbutton:active {
  color: #fff;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(170, 170, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
}
.carousel {
  display: flex;
  gap: 20px;
  position: absolute;
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  overflow-x: scroll;
}
.carousel::-webkit-scrollbar {
  display: none;
}
